*{
    padding:0;
    margin:0;
}
body{
    background-image: url(../image/ships.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
header{
    text-align: center;
}
* .container{
    display:flex;
    justify-content:center; 
 } 
 img{
    margin-top: 5px;
 }
 h3{
    color:navy;
 }
.title{
    display:flex;
    
}        
   .playerBoard{
    width:180px;
    height:180px;
    justify-content: center;
    border:solid 2px navy;
    margin:2% ;
    }

    .enemyBoard{
    width:180px;
    height:180px;
    justify-content: center;
    border:solid 2px navy;
    margin:2%;
    }

.grid-item{
    width:60px;
    border: 2px solid navy;
    cursor:pointer;
    background-color:rgba(211, 211, 211, 0.75) ;
}

    
#rules{
    text-align: center;
}
.list{
    color: rgb(8, 157, 157);
    text-align: center;
    
}
button{
    color:red;
    background-color: transparent;
    border-radius:4px;
    margin-bottom: 5%;
    text-shadow:1px 1px 2px navy;
}

  
  

